<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
	    colors="true"
		bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="Tests">
			<directory suffix=".php">../test</directory>
			<exclude>twitter</exclude>
		</testsuite>
	</testsuites>
</phpunit>